.task-header {
  display: flex;
  justify-content: space-between;

  h2 {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}

.task-title {
  margin-top: 0;
}

.task-date {
  color: #888;
}

.edit-task-detail {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 1.5rem;
}
