.task-item {
  width: 100%;
  padding: 1rem 10px;
  background: #fff;
  border-radius: 0.5rem;
  box-sizing: border-box;
  box-shadow: 0 0 0.25rem 0 rgba(255, 255, 255, 0.1 );
  cursor: move;
}

.task-header {
  display: flex;
  justify-content: space-between;
}

.task-title {
  font-size: 1rem;
  font-weight: 700;
  color: #2E3F7F;
  margin: 0;
}

.task-date {
  color: #888;
}

.error {
  background: #fff2f1;
}

.warning {
  background: #fff9e6;
}

.error, .warning {
  .task-title {
    color: #555;
  }

  .task-date {
    color: #666;
  }
}
